<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <queries>
        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>
        <package android:name="com.tvisha.troopmessenger" />
    </queries>

    <uses-permission android:name="android.permission.CALL_PHONE"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
       <action android:name="android.intent.action.BOOT_COMPLETED"
       android:name=".Activity.Activity.app.MyApplication"/>
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera2" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".activity.activity.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <!--<activity android:name=".Activity.Activity.activities.SliderActivity"
            android:exported="false">
        </activity>-->
        <!--<meta-data
            android:name="android.security.net.config"
            android:resource="@xml/network_security_config"/>-->
        <activity
            android:name=".activity.activity.SpalshActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <!--<activity android:name=".Activity.Activity.activities.LocationPingHistoryActivity"
            android:exported="false"/>
        <activity android:name=".Activity.Activity.activities.ExceptionActivity"
            android:exported="false"/>
        <activity android:name=".Activity.Activity.activities.CheckoutActivity"
            android:exported="false"/>
        <activity android:name=".Activity.Activity.activities.CheckinActivity"
            android:exported="false"/>-->


        <activity
            android:name=".activity.activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.AttendanceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.activity.RequestCompoffActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.AttendanceFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.activity.Employee_SelfAttendence"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.NotificationsActivity"
            android:exported="false"
            android:label="@string/notifications"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.NotificationActivityNew"
            android:exported="false"
            android:label="@string/notifications"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.DirectClientVistActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.LeaveRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.PermissionRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!--
        <service
            android:name=".Activity.Activity.Service.MyAlarmService"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".Activity.Activity.Service.AlarmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        -->
        <activity
            android:name=".activity.activity.RequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.SelfRequestDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.activity.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activity.activity.TeamRequestDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.activity.RequestFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.OtpVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.activity.PopupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.TdWidgetConfigureActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.activity.NewAttendanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.StackedBarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.activity.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".activity.activity.SwapActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.activity.UpdateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app_icon_48_x_48" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver
            android:name=".activity.activity.receiver.GcmBroadcastReceiver"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <receiver android:name=".activity.activity.TdWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/td_widget_info" />
        </receiver>

        <service android:name=".activity.activity.Fcm.FirebaseIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".activity.activity.Fcm.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:exported="false"
            android:enabled="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>



</manifest>